/* styles.css */
#mainApp {
  position: static;
}

#GroupBox { /*Groupbox will be fixed to top left corner*/
  position: fixed;
  width: 20%;
  top: 50px;
}

#pendingAndWishList {
  position: relative;
  left: 21%;
  width: 75%;
}

#PendingBox { /*Relative to the groupbox*/
  position: relative;
  top: 0;
}

#WishListBox { /*Relative to the groupbox*/
  position: relative;
  bottom: 0;
}
